*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #fff;
    margin: 50px auto;
}
h2{
    padding: 20px;
    text-align: center;
    font-size: 70px;
}
p{
    padding: 20px;
    font-size: 30px;
    text-align: justify;
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}
.avatar{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}
.logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.logos :nth-child(2){
    transition-delay: 400ms;
}
.logos :nth-child(3){
    transition-delay: 700ms;
}
.logos :nth-child(4){
    transition-delay: 1000ms;
}
@media screen and (max-width:400px) {
    .avatar-1{
        width: 300px;
        height: 300px;
    }